* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8fafc;
  color: #111827;
  line-height: 1.6;
}

header {
  background-color: #0f172a;
  padding: 20px 40px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  color: #5e92d1;
}

.hero-section {
  padding: 60px 40px;
}

.hero-title {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 18px;
  margin-bottom: 20px;
  color: #374151;
  max-width: 600px;
}

.hero-btn {
  display: inline-block;
  background-color: #0f172a;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: #3265b7;
}

.services-section {
  padding: 80px 40px;
}

.services-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-header {
  margin-bottom: 20px;
}

.section-header h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.section-header p {
  font-size: 18px;
  color: #555;
}

.cards {
  display: flex;
  gap: 25px;
}

.service-card {
  flex: 1;
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  background-color: #111827;
  color: #cbd5e1;
}
.service-card:hover .service-description {
  color: #cbd5e1;
}
.service-card:hover .service-title {
  color: white;
}

.service-icon {
  font-size: 32px;
  margin-bottom: 15px;
}

.service-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.service-description {
  color: #555;
  font-size: 17px;
}

.about-section {
  padding: 80px 40px;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 60px;
}

.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.about-text p {
  color: #555;
  font-size: 18px;
  line-height: 1.6;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.site-footer {
  background-color: #0f172a;
  padding: 20px 40px;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copy {
  font-size: 16px;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.social-links a:hover {
  color: #cbd5e1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}
   




@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    gap: 20px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
     gap: 10px;
  }
 


  nav a {
    display: block;
    padding: 8px 0;
  }

  .hero-section,
  .services-section,
  .about-section,
  .site-footer {
    padding: 40px 20px;
  }

  .hero-title {
    font-size: 32px;
  }

  .hero-description {
    font-size: 16px;
  }

  .cards {
    flex-direction: column;
  }

  .service-card {
    text-align: center;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}